@use "../../assets/scss/mixins" as m;
@use "../../assets/scss/variables" as v;

body {
  @media (max-width: 899px) {
    background-color: rgba(128, 128, 128, 0.296) !important;
  }
}

@media (max-width: 899px) {
  .sidebar-image {
    display: none;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem 0 12rem;

  @media (max-width: 1100px) {
    padding: 4rem 3rem 0 3rem;
  }

  @media (max-width: 899px) {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.594);
    width: 50%;
    margin: auto;
    padding: 3rem 2rem;
    border-radius: 35px;
  }

  @media (max-width: 576px) {
    width: 80%;
  }
}

button[type="submit"] {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  background-color: v.$color3;

  &:hover {
    background-color: v.$color1 !important;
  }
}

.sign-in-container {
  .form-signin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .sign {
      font-weight: 900;
      font-size: 2.5rem;
    }
    .typography {
      @media (max-width: 576px) {
        margin: 0;
        padding: 0;
      }
    }
    .sign-link {
      margin-left: 0.2rem;

      @media (max-width: 576px) {
        margin: 0;
      }
    }

    img {
      margin-bottom: 2rem;
      width: 15%;

      @media (max-width: 576px) {
        width: 20%;
        margin-bottom: 1rem;
      }
    }

    .box-container {
      width: 100%;

      .remember-me-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 635px) {
          display: flex;
          flex-direction: column;
        }

        .remember-me {
          display: flex;
          align-items: center;
        }
      }

      .forgot-password {
        text-align: right;
      }
    }
  }
}

.btn-sign-in {
  padding: 0.6rem 0 !important;
  border-radius: 50px !important;

  &:hover {
    background-color: v.$color1 !important;
  }
}

.button-container {
  width: 100%;
  text-align: center;

  .or-continue {
    position: relative;
    text-align: center;
    margin: 1rem 0;
  }

  .or-continue::before,
  .or-continue::after {
    content: "";
    display: inline-block;
    width: 25%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    opacity: 0.3;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .or-continue::before {
    margin-right: 10px;
  }

  .or-continue::after {
    margin-left: 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      border-radius: 25px;
      margin-right: 10px;
      width: 50%;
      border: 1.5px solid rgba(0, 0, 0, 0.61);
      color: rgb(97, 91, 91);

      @media (max-width: 992px) {
        margin: auto;
      }

      svg {
        font-size: 1.5rem;
      }
    }
  }
}
