$color1: #3730a3;
$color2: #fffff3;
/* BOOTSTRAP */
$primary: $color1;
$secondary: $color2;
$font-family-sans-serif: "Exo";
// $navbar-light-color: $color1;
// $navbar-light-hover-color: $color2;
// $navbar-light-active-color: $color2;
// $nav-link-font-weight: 600;
// $border-radius: 0;
// $form-feedback-valid-color: $color1;
// $nav-tabs-link-active-color: $color2;
// $nav-pills-link-active-bg: #fff;
