form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[type="submit"] {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.box-container .mb-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .logo {
    align-self: flex-start;
  }

  .sign-in-text {
    align-self: flex-start;
  }

  .dont-have-account {
    margin-top: 1rem;
    align-self: flex-start;
  }
  .remember-me-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .remember-me {
      display: flex;
      align-items: center;
    }
  }

  .forgot-password {
    text-align: right;
  }
}

.box-container .mb-4::before,
.box-container .mb-4::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.button-container {
  button {
    border-radius: 25px;
    margin-right: 10px;
    padding: 0.5rem 2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.61);
    color: rgb(31, 30, 30);

    svg {
      font-size: 2rem;
    }
  }
}
