@use "../assets/scss/mixins" as m;
@use "../assets/scss/variables" as v;
body {
  @media (max-width: 992px) {
    background-color: rgba(128, 128, 128, 0.296) !important;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 992px) {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.594);
    width: 50%;
    margin: auto;
    padding: 3rem 2rem;
    border-radius: 35px;
  }
}

button[type="submit"] {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.form-signin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .sign {
    font-weight: 900;
    font-size: 2.5rem;
  }
  .sign-link {
    margin-left: 0.2rem;
  }
  img {
    margin-bottom: 2rem;
    width: 10%;
  }

  .box-container {
    width: 100%;
    .remember-me-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .remember-me {
        display: flex;
        align-items: center;
      }
    }

    .forgot-password {
      text-align: right;
    }
  }
}
.btn-sign-in {
  padding: 1rem 0 !important;
  border-radius: 50px !important;

  :hover {
    background-color: v.$color1 !important;
  }
}
.button-container {
  width: 100%;
  text-align: center;
  .buttons {
    display: flex;
    justify-content: space-between;
    :hover {
      background-color: rgba(128, 128, 128, 0.407);
    }
    button {
      border-radius: 25px;
      margin-right: 10px;
      padding: 0.5rem 3rem;
      border: 1px solid rgba(0, 0, 0, 0.61);
      color: rgb(97, 91, 91);
      @media (max-width: 992px) {
        margin: auto;
      }
      svg {
        font-size: 2rem;
      }
    }
  }
}
